.form {
    padding: 10px;
    background-color: #000;
}

.form_container {
    padding: 20px;
    padding-top: 40px;
    height: 90vh;
    background: linear-gradient(rgb(236, 167, 17), rgb(250, 233, 0));
    color: white;
}

.form_container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.mb-3.row {
    padding: 0px 30%;
}

.row label {
    padding: 5px;
    background-color: #000;
    border-radius: 5px;
    text-align: center;
}

#reset,
#submit {
    background-color: #000;
    color: white;
    transition: 0.3s;
}

#reset:hover,
#submit:hover {
    background-color: rgb(73, 69, 69);
}

p.message {
    text-align: center;
}

p.message a {
    text-decoration: none;
    color: #000;
}

.login-form {
    display: none;
}

.profile {
    /* background-color: rgb(104, 99, 99); */
    border: rgb(0, 0, 0) solid 3px;
    border-radius: 5px;
    color: white;
}